* {
  margin: 0 auto;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

.title {
  font-size: 2rem;
}

.text {
  color: #fff;
  text-align: center;
  max-width: 800px;
}

.text.dark {
  color: #333;
}

.btn {
  border-radius: 0;
}

nav .nav-item {
  padding: 7px;
}
#presentation {
  padding: 12em 0 7em 0;
  position: relative;
}

#presentation {
  background: url(../../images/presentation.png) #111 center center;
  background-size: cover;
}

#areas {
  background-color: #111;
}

#areas ul {
  max-width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
}
#areas ul li {
  list-style: none;
  color: #fff;
  padding: 7px;
  font-weight: 600;
  text-transform: uppercase;
}

#stories {
  padding: 5em 0 5em 0;
  background: #eee;
}

#stories .imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#stories .imgs img {
  max-width: 450px;
  background: #fff;
  padding: 1em;
}

/* Company Projects - Publics and Privates */

#projects {
  padding: 3em 0 3em 0;
}
#projects .item {
  margin: 1em;
  text-align: justify;
}
#projects .item .thumbnail {
  position: relative;
  overflow: hidden;
  max-height: 220px;
  border-radius: 10px;
}

#projects .item h3 {
  padding: 1em 0 10px 0;
  font-size: 35px;
}

#projects .item .team {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#projects .item .team strong {
  margin-bottom: 10px;
}
#projects .item .team li {
  display: inline-block;
  border-radius: 100px;
  font-size: 13px;
  list-style: none;
}

#projects .item .team li::before {
  content: " - ";
}

#projects .item .description {
  color: #333;
  text-align: justify;
}
#company-project {
  padding: 5em 0 5em 0;
}

#team {
  padding: 2em 0 3em 0;
}

#team .text {
  padding-bottom: 3em;
}

#company-project .header {
  padding: 0 0 3em 0;
}

#company-project .card {
  padding: 2em;
}
#company-project .card header {
  margin: 0;
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: center;
  padding-bottom: 1em;
}

#company-project .card header h3 {
  width: 70%;
  font-size: 1.3rem;
  padding-left: 15px;
}

#company-project .card header h3 span {
  color: #333;
}

#company-project .card header .photo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #333;
}

#company-project .card .description {
  color: #555;
  text-align: justify;
}

#contact {
  position: relative;
  padding: 3em 0 3em 0;
  background: rgb(4, 16, 29);
  background-size: cover;
}

#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: url(../../images/contact-2.jpg) #111 center center;
  background-size: cover;
  background-position: fixed;
  filter: brightness(0.4);
}
#project {
  position: relative;
}

#project.bg1::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 300px;
  background: url(../../images/pattern.png);
}

#project .title {
  padding-top: 2em;
}

#project .projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4em 0 5em 0;
}
.projects .item {
  display: flex;
  justify-content: stretch;
  flex-basis: 520px;
  margin-bottom: 4em;
  min-height: 250px;
  background: #f7f7f7;
}

.projects .item.item-small {
  display: flex;
  justify-content: stretch;
  flex-basis: 350px;
  margin-bottom: 4em;
  min-height: 360px;
  background: #f7f7f7;
}

.projects .description {
  color: #555;
  text-align: justify;
}

.projects .item header {
  padding: 20px;
  position: relative;
}

.projects .item .bg-item {
  position: relative;
  flex-basis: 280px;
  min-width: 180px;
  background-size: cover;
}

.projects .item.item-small .bg-item {
  position: relative;
  flex-basis: 100px;
  min-width: 20px;
  background-size: cover;
}

.projects .item.item-small button {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.projects .item .bg-item:hover::after {
  opacity: 0;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);

  transform: scale(1.2);
}

.projects .item .bg-grana {
  background-image: url(../../images/bg-grana.png);
}

.projects .item .bg-santuario {
  background-image: url(../../images/bg-santuario.png);
}

#team {
  margin: 2em 0 2em 0;
}
#team .teams {
  display: flex;
  flex-wrap: wrap;
}

#team .teams table strong {
  color: #777;
}

#contact h2 {
  color: #fff;
}

#contact p {
  color: #777;
}
#contact button {
  padding: 10px;
  border-radius: 0;
}

#footer {
  background: #111;
  min-height: 500px;
  padding: 4em 0 4em 0;
  color: #777;
}

#footer h3 {
  padding-bottom: 1em;
}

#footer .maps {
  background: #777;
  height: 150px;
}

#footer .parcerias a {
  background: #000;
  padding: 7px 15px;
  border-radius: 100px;
}

.socials ul {
  margin: 0;
  padding: 15px 0 0 0;
  display: flex;
  justify-content: left;
  max-width: 80px;
}

.socials li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background: #000;
  color: rgb(30, 82, 253);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#tcc {
  background: #111;
  padding: 3em 0 3em 0;
}

#tcc .tccs {
  padding-top: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#tcc .tccs .item {
  color: #eee;
  padding: 1em;
  flex-basis: 350px;
}

#tcc .tccs .item h4 {
  font-size: 20px;
}
#tcc .tccs .item > p {
  color: #777;
  font-size: 13px;
}
#tcc .tccs .item .description p {
  text-align: justify;
  color: #ccc;
}
